html {
  box-sizing: border-box;
}

*,*::after,*::before {
  box-sizing: inherit; 
}

body {
  background-color: #E5E5E5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: local('Helvetica Now Display Light'), local('Helvetica-Now-Display-Light'),
      url('./fonts/HelveticaNowDisplay-Light.woff2') format('woff2'),
      url('./fonts/HelveticaNowDisplay-Light.woff') format('woff'),
      url('./fonts/HelveticaNowDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}